html
  head
    h1.title-company Netocompany
    h1 Edit Doctor
    link(rel='stylesheet' href='/style.css')
  body
    form(action=`/AdminSaveToDB/${staff.Id}` method='post')
      // Displays information for the user to update if desired
      label(for='forename') Forename:
      input(type='text', name='forename', value=staff.Forename)
      label(for='surname') Surname:
      input(type='text', name='surname', value=staff.Surname)
      label(for='dob') Date of Birth:
      input(type='date', name='dob', value=staff.Dob)
      label(for='gender') Gender:
      select(name='gender')
        option(value='M', selected=staff.Gender === 'M') Male
        option(value='F', selected=staff.Gender === 'F') Female
      label(for='email') Email:
      input(type='email', name='email', value=staff.Email)
      label(for='mobno') Mobile Number:
      input(type='text', name='mobno', value=staff.MobNo)
      label(for='address') Address:
      input(type='text', name='address', value=staff.Address)
      label(for='profession') Profession:
      input(type='text', name='profession', value=staff.Profession)
      button(type='submit') Save Changes
      // Returns the user to the Admin index page
      //button.button-format(type='button', onclick='window.location.href="/patients";') Back
      button.button-format(type='button', onclick='window.location.href="/";') Exit


// Made By Ethan Akin