html
  head
    h1.title-company Netocompany
    h1 Patient Records
    link(rel='stylesheet' href='/style.css')
  body
    form 
      // Displays all current patients information
      label(for='nhsno') NhsNo:
      p #{patient.NhsNo}
      div
      label(for='forename') Forename:
      p #{patient.Forename}
      div
      label(for='surname') Surname:
      p #{patient.Surname}
      div
      label(for='dob') Date Of Birth:
      p #{patient.Dob}
      div
      label(for='gender') Gender:
      p #{patient.Gender}
      div
      label(for='address') Address:
      p #{patient.Address}
      div
      label(for='postcode') Postcode:
      p #{patient.Postcode}
      div
      label(for='phone') Phone:
      p #{patient.MobNo}
      div

      // transport user to the Edit page
      button(type='button', onclick=`window.location.href='/PatientEditPage/${patient.NhsNo}'`) Edit

      // returns the user back to the patient page
      //button.button-format(type='button', onclick='window.location.href="/patients";') Back
      button.button-format(type='button', onclick='window.location.href="/";') Exit
      

      // Made By Ethan Akin