html
  head
    h1.title-company Netocompany
    h1 Edit Patient
    link(rel='stylesheet' href='/style.css')
  body
    form(action=`/PatientSaveToDB/${patient.NhsNo}` method='post')
      label(for='forename') Forename:
      input(type='text' name='txtForename' value=patient.Forename)
      div
      label(for='surname') Surname:
      input(type='text' name='txtSurname' value=patient.Surname)
      div
      label(for='dob') Date Of Birth:
      input(type='date' name='txtDob' value=patient.Dob)
      div
      label(for='gender') Gender:
      select(name='txtGender')
        option(value='male' selected=patient.Gender === 'male') M
        option(value='female' selected=patient.Gender === 'female') F
      div
      label(for='address') Address:
      input(type='text' name='txtAddress' value=patient.Address)
      div
      label(for='postcode') Postcode:
      input(type='text' name='txtPostcode' value=patient.Postcode)
      div
      label(for='phone') Phone:
      input(type='text' name='txtMobNo' value=patient.MobNo)
      div
      button(type='submit') Save
      button.button-format(type='button', onclick='window.location.href="/patients";') Back
